/*CSS DOCUMENT*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */
div.home-container { 
background: url(frontpage.jpg) center center fixed;
background-size: cover;
position: relative;
min-height: 100vh;
max-width: 80em;
margin: auto;
}
body {
font-family: sans-serif;
background-color: rgb(255, 255, 255);
}
div.container { 
position: relative;
min-height:100vh;
max-width: 80em;
margin: auto;
}
/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */
main { 
padding: 1em 2em 8em;
background-color: rgb(255, 255, 255);
}
img {
width: 100%; /*Please leave this line.*/
display: block;
padding-bottom: 1em;
}
figure{
margin-left: 1.5em;
margin-right: 1em;
}
header {
display: grid;
grid-template-columns: 1fr 2fr;
background: rgb(255, 255, 255);
padding: 1.5em 0.5em 1em;
margin-bottom: 0em;
}
h1 {
width: 13em;
padding-top:0em;
margin-top: 0.5em;
}
h2, h3, h4 {
font-weight: 600;
padding-top: 3em;
}
h2 {
font-size: 5em;
margin-left: 0em;
margin-bottom: -0.5em;
margin-top: -3em;
font-family: "dream-big-wide", sans-serif;
font-weight: 700;
font-style: normal;
color: rgb(0, 0, 0);
text-align: center;
}
h3 {
font-size: 2em;
margin-left: 1em;
padding-top: 0em;
padding-bottom: 0em;
font-family: "fenwick", sans-serif;
font-weight: 900;
font-style: normal;
}
h4 {
font-size: 1em;
margin-left: 1.5em;
padding-top: 0em;
margin-top: 0em;
margin-bottom: -1.5em;
grid-row: 1/2;
font-family: "fenwick", sans-serif;
font-weight: 900;
font-style: normal;
color: rgb(0, 0, 0);
}
body {
font-family: sans-serif;
}
a {
text-decoration: none;
}
nav ul  {
text-align: right;
}
nav ul li {
list-style-type:none;
padding-top:0em;
margin-top: 0.5em;
}
ul li 	{
list-style-type:none;
padding-top:1em;
}
figure {
margin-bottom: 1.2em;
}
main.menu ul {
margin: 2em, 0em;
display: inline;
}	
main.menu ul li {
margin: 2em, 0em, 2em;
display: grid;
grid-template-columns: auto auto;
grid-template-rows: auto auto;
display: inline;
}	
main.menu p {
margin-left: 1.5em;
margin-bottom: 1em;
margin-top: 0em;
padding-bottom: 0em;
line-height: 1.2em;
}
main.menu h3 {
font-size: 2.5em;
margin-left: 0em;
padding-top: 1em;
padding-bottom: 0.5em;
font-family: "fenwick", sans-serif;
font-weight: 700;
font-style: normal;
color: rgb(29, 36, 92);
}
p {
margin-left: 1.5em;
margin-bottom: 1em;
margin-top: 1.5em;
padding-bottom: 0em;
font-family: "fenwick", sans-serif;
font-weight: 700;
font-size: 1em;
font-style: normal; 
}
p.description {
grid-row: 1/3;
grid-column:2/3;
margin-left: 1.5em;
font-weight: 300;
color:rgb(162, 162, 162);
}
p.price {
font-size: 1em;
grid-row: 1/2;
grid-column: 2/3;
color: rgb(29, 36, 92);
text-align: right;
margin-bottom: 0.5em;
margin-top: 0.5em;
font-weight: 900em;
}
nav ul li {
font-size: 1em;
text-transform: uppercase;
font-weight: 600;
margin-bottom: 1em;
}
nav ul li a {
font-family: "fenwick", sans-serif;
font-weight: 700;
font-size: 0.75em;
font-style: normal;
color: rgb(29, 36, 92);
padding: 0.2em; 
margin-top: 3em;
margin-right: 0.5em;
}
nav ul li.selected a {
color: rgb(29, 36, 92);
padding: 0.2em; 
margin-top: 3em;
margin-right: 0.5em;
text-decoration: underline;
}
p.slogan {
font-size: 4.1em;
font-family: "dream-big-wide", sans-serif;
font-weight: 300em;
font-style: normal;
color: rgb(246, 246, 246);	
margin-left: 0.5em;
padding-top: 0em;
padding-bottom: 0em;
margin-bottom: -0.20em;
}
footer {
position: absolute;
width: 100%;
box-sizing: border-box;
padding-top: 1em;
bottom: -3em;
margin-top: -1em;
padding-bottom: 1em;
padding-left: 0.5em;
font-family: "fenwick", sans-serif;
font-weight: 900;
font-size: 0.75em;
font-style: normal;
text-align: center;
background-color:rgb(255, 255, 255);
}
address {
font-size: 1em;
font-family: "fenwick", sans-serif;
font-weight: 200;
font-style: normal;
margin-left: 2em;
margin-top: 0em;
margin-bottom: 1em;
padding-bottom: 0.5em;
padding-top: 0.5em;
color: rgb(0, 0, 0);
}
article {
box-sizing: border-box;
max-width: 70rem;
margin: auto;
color: rgb(29, 36, 92);
text-align: left;
}
@media screen and (min-width: 60em) {
nav ul li{
font-size: 2em;
display: inline-block;
}
main.menu ul {
display: grid;
grid-template-columns: 1fr 1fr;
}
}
